<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="C:\Python38\python.exe|C:\Python38\Lib\site-packages\wfastcgi.py" 
      resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Journal_of_decision" />
    <add key="WSGI_HANDLER" value="Journal_of_decision.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="Journal_of_decision.settings" />
  </appSettings>
</configuration>