{% extends 'inv/base.html' %}
{% load crispy_forms_tags %}
{% block body %}


<form method="POST">
      {% csrf_token %}
{% if cls_name == 'Decision' %}
    <button class="btn btn-outline-primary col-3" type="submit" name="pdf_app_1">Решения о приостановлении</button>
    <button class="btn btn-outline-primary col-3" type="submit" name="pdf_app_2">Сопроводительное письмо</button>


        <div class="container col-md-20 edit_box" >

        <h6>Блок «Заявление»</h6>
           <div class="row">
      <div class="col-6">
        {{ form.snils|as_crispy_field }}
      </div>
      <div class="col-6">

        {{ form.dec_status|as_crispy_field }}
      </div>
    </div>


    <div class="row">
      <div class="col-6">
       {{ form.usr_departament_code|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.usr_district_code|as_crispy_field }}
      </div>
    </div>


          <div class="row">
      <div class="col-6">
        {{ form.fio|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.types_of_pension|as_crispy_field }}
      </div>
    </div>


      <div class="row">
      <div class="col-6">
        {{ form.law|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.appeal_date|as_crispy_field }}
      </div>
    </div>


          <div class="row">
      <div class="col-6">
        {{ form.statement_reg_num|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.appeal_type|as_crispy_field }}
      </div>
    </div>
              <div class="row">
      <div class="col-6">
        {{ form.adress|as_crispy_field }}
      </div>
      <div class="col-6">
         {{ form.note|as_crispy_field }}
      </div>
    </div>
        </div>



<div class="container col-md-20 edit_box" >
    <h6>Блок «Приостановление срока рассмотрения заявления»</h6>



      <div class="row">
      <div class="col-6">
        {{ form.decision_number|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.decision_date|as_crispy_field }}
      </div>
    </div>

      <div class="row">
      <div class="col-6">
        {{ form.user_fio|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.cause|as_crispy_field }}
      </div>
    </div>


</div>


<div class="container col-md-20 edit_box" >
    <h6>Блок «Восстановление срока рассмотрения заявления»</h6>
<div class="container col-md-20 " >
          <div class="row">
      <div class="col-6">
        {{ form.recovery_time|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.decision_date_block3|as_crispy_field }}
      </div>
    </div>

</div>

<div class="container col-md-20 " >
          <div class="row">
      <div class="col-6">
        {{ form.decision_number_2|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.cause_2|as_crispy_field }}
      </div>
    </div>

</div>


    <div class="container col-md-20 " >
      <div class="row">
      <div class="col-6">
        {{ form.user_fio|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.actual_term|as_crispy_field }}
      </div>
    </div>



</div>



</div>







<br>

    <center><button type="submit" class="btn btn-outline-primary" >Изменить</button></center>


{% elif cls_name == 'Account' %}


           <div class="container col-md-20 edit_box" >

        <h6>Блок «Заявление»</h6>
           <div class="row">
      <div class="col-6">
        {{ form.email|as_crispy_field }}
      </div>
      <div class="col-6">

        {{ form.username|as_crispy_field }}
      </div>
    </div>


    <div class="row">
      <div class="col-6">
       {{ form.otdel|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.rayon|as_crispy_field }}
      </div>
    </div>


          <div class="row">
      <div class="col-6">
        {{ form.role|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.is_admin|as_crispy_field }}
      </div>
    </div>


        </div>

{% endif %}
  </form>


<br>
<br>

{% endblock %}
